/firefly_ackley.gif
/firefly_dejong.gif
/firefly_easom.gif
/firefly_griewank.gif
/firefly_michalewicz.gif
/firefly_rastrigin.gif
/firefly_rosenbrock.gif
/firefly_schwefel.gif
/firefly_shubert.gif
/firefly_yang.gif
/pso.py